<% @cars.each do |car|%>
  <%= link_to "#{car.car_model.name} - #{car.license_plate}", car %>
<% end %>

<div id="maintenance">
  <h1>Carros em manutenção</h1>
  <% @cars_on_maintenance.each do |car|%>
    <h3><%= car.car_identification%></h3>
  <% end %>
</div>